<mat-toolbar >
    <a routerLink="/jordan">
        <div  class="logo" >
            <img src="https://www.transparentpng.com/thumb/michael-jordan/clipart-michael-jordan-photos-png-16.png">
        </div>
</a>
    <span class="space"></span>

   
   
    <ul>
        <li>
            <a class="Search" mat-raised-button routerLink="/jordansearch" routerLinkActive="mat-basic">Search</a>
        </li>
        
        <li>
            <a class="Logout" mat-raised-button routerLink="/" routerLinkActive="mat-basic">Logout</a>
        </li>
    </ul>
 
</mat-toolbar>

