ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

a{
    text-decoration: none;
    color: black; 
    margin-right: 68.3%;
}

li{
  margin: 6px;
}

.logo {
  position: relative;
  
  }

  header {
    background: #fff;
    height: 80px;
    text-align: right;

  }


  mat-toolbar{
      background-color: #fd0a01;
      margin-left: 2%;
  }

  img{
    margin-top: 0.5rem;
    height: 16%;
    width: 16%;
  }